[submodule "bundle/vimtodo"]
    path = bundle/vimtodo
    url = git@github.com:mivok/vimtodo
[submodule "bundle/vim-snipmate"]
    path = bundle/vim-snipmate
    url = git@github.com:garbas/vim-snipmate
[submodule "bundle/vim-airline"]
    path = bundle/vim-airline
    url = git@github.com:bling/vim-airline
[submodule "bundle/tcomment_vim"]
    path = bundle/tcomment_vim
    url = git@github.com:tomtom/tcomment_vim
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = git@github.com:scrooloose/syntastic
[submodule "bundle/vim-surround"]
    path = bundle/vim-surround
    url = git@github.com:tpope/vim-surround
[submodule "bundle/vim-endwise"]
    path = bundle/vim-endwise
    url = git@github.com:tpope/vim-endwise
[submodule "bundle/vim-dispatch"]
    path = bundle/vim-dispatch
    url = git@github.com:tpope/vim-dispatch
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git@github.com:marcweber/vim-addon-mw-utils
[submodule "bundle/fruity.vim"]
	path = bundle/fruity.vim
	url = git@github.com:vim-scripts/fruity.vim
[submodule "bundle/Mark"]
	path = bundle/Mark
	url = git@github.com:vim-scripts/Mark
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree
